<div class="bg">
    <div class="container contact-form shadow p-4">
        <div class="contact-image">
            <img src="./assets/Logo White Backdrop.png" alt="rocket_contact" />
        </div>
        <form method="post">
            <h3>Attendance Portal</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="date" name="txtName" class="form-control " placeholder="Date" value="" />
                    </div>
                    <div class="form-group">
                        <input type="time" name="txtEmail" class="form-control " placeholder="Time" value="" />
                    </div>

                    <div class="form-group">
                        <input type="submit" name="btnSubmit" class="btnContact shadow p-2" value="Log In" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <h4>Employee Name: {{empName}}</h4>

                        <h4>Employee ID: 1045</h4>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-6">
                <div class="card shadow p-1" style="width: 100%;">

                    <div class="card-body">
                        <h5 class="card-title">Your Internet Speed </h5>
                        <p class="card-text">{{internetBandwith}} Mbps</p>
                        <a (click)="getSpeed()" class="btn btnNetSpeed">Test Again</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card shadow p-1" style="width: 100%;">

                    <div class="card-body">
                        <h5 class="card-title">Your Location</h5>
                        <p class="card-text">Latitude: {{latitude}} Longitude: {{longitude}}</p>
                        <a href="#" class=" btn btnMaps shadow p-1">View On Maps</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>